# C extensions
*.so

# Editors
.vscode/
.idea/
**.vscode

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__
/server/routers/__pycache__/*
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyBuilder
target/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

server/main2.py
pertsonala.txt

server/main2.py
server/__pycache__/
.vscode

.python-env
.vercel
node_modules/
