header {
    overflow: hidden;
}

.logos {
    background-color: rgb(175, 175, 175);
}
.logo {
    height: 3em;
    width: auto;
    margin: 5px;

    @media (max-width: 700px) {
        height: 1.5em;
        width: auto;
        margin: 3px;
    }
    @media (max-width: 400px) {
        height: 1em;
        width: auto;
        margin: 1.5px;
    }
    
}